@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    background-color: #2a3950;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    color:#495057;
    background-color:#fff;
    border-color:#dee2e6 #dee2e6 #fff
}

.form-inline {
    display: inline-block;
}

.card-body {
    border-width: 1 1 1 1;
}